/* index.css */

/* Import Tailwind’s base styles */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Global styles */
:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-black text-gray-100;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

canvas {
  touch-action: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 1120px;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .nav-height {
    @apply h-[calc(100vh-60px)];
  }
}

p {
  margin-bottom: 15px;
}

/* Screen width constraint */
.screen-max-width {
  margin-inline: auto;
  max-width: 1120px;
}

/* Navbar Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  @apply bg-black text-white flex justify-between items-center px-6 py-4 fixed w-full top-0;
}

.navbar-brand {
  @apply font-bold text-red-500 text-2xl;
}

.navbar-menu {
  @apply flex gap-6;
}

.navbar-menu a {
  @apply text-white font-semibold hover:underline;
}

/* Hero Section */
.hero {
  @apply h-screen flex items-center justify-center bg-gray-800 text-white text-center;
}

.hero-title {
  @apply text-center font-semibold text-3xl text-gray-100 opacity-0 max-md:mb-10;
}

.hiw-title {
  @apply text-5xl md:text-7xl font-semibold flex-center text-center;
}

.hiw-subtitle {
  @apply text-gray font-semibold text-xl md:text-2xl py-10 text-center;
}

.hiw-video {
  @apply absolute w-[95%] h-[90%] rounded-[56px] overflow-hidden;
}

.card-container {
  margin-top: 2rem;
  left: 2rem;
}
.card-title {
  position: relative;
  bottom: 0;
  left: 0;
  padding: 0.5rem; /* Add padding to create some space around the title */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Add a semi-transparent background to make the title more readable */
}

/* .hero-title {
  @apply text-5xl font-bold;
}

.hero-subtitle {
  @apply text-xl mt-4;
} */

/* Featured Content Section */
.featured-content {
  @apply py-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 px-6;
}

.featured-item {
  @apply bg-gray-700 p-4 rounded-lg;
}

.featured-item img {
  @apply w-full h-48 object-cover rounded-lg;
}

.featured-item-title {
  @apply text-white mt-4 font-semibold text-lg;
}

.featured-item-desc {
  @apply text-gray-400 text-sm mt-2;
}

/* Footer */
footer {
  @apply bg-gray-800 text-center py-4;
}

footer p {
  @apply text-gray-400;
}
